/* smartphones */
@media(max-width: 550px) {
 /* navbar */   
  #navbar {
    flex-direction: column;
    align-items: center; 
  }
    
  #navbar ul li:last-child {
      margin-left: 0;
      margin-right: 0;
  }
  
  #navbar ul{
      padding-bottom: 1.25rem;
  }
  
  #navbar ul li a {
      padding: 1.25rem 1rem 1.25rem 1rem;
      border-top: none;
  }
/* about */
#about {
    padding: 2rem;
}

#about .about-text #name {
    font-size: 3.1rem;
}

#about .img-div .about-img {
    width: 50%;
    height: 50%;
    box-shadow: 0px 0px 20px grey;
    margin-top: 2rem;
}

/* footer */ 
  footer {
      text-align: center;
      padding: 3rem;
      background-color: plum;
      color: white;
      height: 1vh;
  } 
}
  
@media(max-width: 414px) {
/* navbar */   
  #navbar ul li .fa {
      display: none;
  }
  
  #navbar ul li:first-child {
      position: absolute;
      display: none;
  }
  #navbar ul{
      padding-left: 0;
  }
}
/* project */
  .project .img-section .project-img {
       width: 100%;
}
