.project {
    display: block;
}

.project .img-section .project-img {
    display: block; 
    margin: 0 auto 0 auto; 
}

.last {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid rgba(119, 136, 153, 0.1);
    margin: 0 50px 50px 50px;
}

#about {
    display: block;
    height: 100%;
}

#about .img-div .about-img {
    display: block;
    margin: 2rem auto 3rem auto;
}

