iframe {
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 20px;
}

div.web-info {
    float: right;
    margin-right: 200px;
    margin-bottom: 50px;
    width: 500px;
}

hr {
    border: 1px solid rgba(119, 136, 153, 0.1);
    margin: 50px;
}