iframe {
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 20px;
}

.project {
    width: 600px;
    height: 400px;
    margin-left: 100px;
    margin-top: 20px;
}

.last {
    padding-bottom: 100px;
}

div.web-info {
    float: right;
    margin-right: 150px;
    width: 500px;
}

iframe, div.web-info {
    display: inline-block;
}

h3, div {
  display: inline;
}

hr {
    border: 1px solid rgba(119, 136, 153, 0.1);
    margin: 50px;
}